@font-face {
    font-family: 'Solido';
    src: url('../fonts/dstype_-_solidocompact-book-webfont.woff2') format('woff2'),
         url('../fonts/dstype_-_solidocompact-book-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Solido';
    src: url('../fonts/dstype_-_solidocompact-medium-webfont.woff2') format('woff2'),
         url('../fonts/dstype_-_solidocompact-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lucida Sans';
    src: url('../fonts/lsans-webfont.woff2') format('woff2'),
         url('../fonts/lsans-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}