// Colors
$black:#1F1F20;
$graphite:#333;
$gray:#9F9E9E;
$silver:#B1B1B1;
$white:#FFF;

$orange:#FF6C00;

// Fonts
$default-font: 'Lucida Sans', Arial, Helvetica, sans-serif;
$Solido: 'Solido', Arial, Helvetica, sans-serif;
$regular:400;
$medium:500;

$size-desktop:1440px;
$size-desktop-min:1024px;
$size-mobile-max:768px;
$size-mobile-min:420px;