// DIDOT ================================================================================================ //

@import url("../fonts/didot_italic/didotitalic.css");
$Di:"Didot Italic", Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;

@import url("../fonts/didot_regular/didotregular.css");
$Dr:"Didot Roman", Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;

@import url("../fonts/didot_headline/didotheadline.css");
$Dh:"Didot Headline", Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;


// FUTURA ================================================================================================ //

@import url("../fonts/futura_book/futurabook.css");
$Fb:"Futura Book", Futura, Trebuchet MS, Arial, sans-serif;

@import url("../fonts/futura_book_italic/futurabookitalic.css");
$Fbi:"Futura Book Italic", Futura, Trebuchet MS, Arial, sans-serif;

@import url("../fonts/futura_light/futuralight.css");
$Fl:"Futura Light", Futura, Trebuchet MS, Arial, sans-serif;

@import url("../fonts/futura_light_italic/futuralightitalic.css");
$Fli:"Futura Light Italic", Futura, Trebuchet MS, Arial, sans-serif;

@import url("../fonts/futura_medium/futuramedium.css");
$Fm:"Futura Medium", Futura, Trebuchet MS, Arial, sans-serif;