@import "compass";
@import "tools.scss";
*{ @include box-sizing(border-box); }
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);

// VARIÃVEIS GLOBAIS
$royal:#1B4A74;
$turquoise:#29B8D8;

$Source:'Source Sans Pro', Helvetica, Arial, Sans-serif;

// BANNERS
#box-image{ width:1240px; height:230px; margin:0 auto; position:relative; background:transparent url(../img/sobre.jpg) no-repeat center center; }

.col-left{ width:48%; float:left; margin-top:20px; }
.col-right{ width:48%; float:right; margin-top:20px; }
h3{ @include font-size(18px); font-weight:$bold; text-transform:uppercase; color:$turquoise; margin-top:60px; }
p{ margin:10px 0; line-height:1.4em; }

#lista-areas > li{ margin-top:30px; }
#lista-areas li .ico{ width:100px; height:100px; @include border-radius(50%); background-color:$royal; background-position:center center; background-repeat:no-repeat; float:left; margin:0 10px 10px 0; }
#lista-areas li .ico.ico-administrativa{ background-image:url(../img/ico-administrativa.png); }
#lista-areas li .ico.ico-financeira{ background-image:url(../img/ico-financeira.png); }
#lista-areas li .ico.ico-juridica{ background-image:url(../img/ico-juridica.png); }
#lista-areas li .ico.ico-rh{ background-image:url(../img/ico-rh.png); }
#lista-areas li h3{ @include font-size(22px); text-transform:uppercase; font-weight:$bold; margin:30px 0; color:#444; }
#lista-areas li h3 span{ @include font-size(18px); display:block; font-weight:$regular; }
#lista-areas li .topicos{ line-height:1.3em; clear:both; }
#lista-areas li .topicos li{ float:left; margin-bottom:10px; text-indent:7px; background:transparent url(../img/bullet.png) no-repeat left 8px; }