// DEPENDÊNCIAS
@import "compass";
@include global-reset;
@import "tools.scss";

// FONTES
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);
$Playfair:'Playfair Display','Times New Roman', serif;

@import url(https://fonts.googleapis.com/css?family=Oxygen);
$Oxygen:'Oxygen', -apple-system, '.SFNSText-Regular', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;

// CORES
$Turquesa:#81EFDF;
$Cinza:#919191;

// ESTILOS GLOBAIS
body{ background-color:$Turquesa; color:$Cinza; font-family:$Oxygen; @include font-size(18px); @include font-smoothing(on); }
body.pg-inicial{ background:$Turquesa url(../img/bkg-inicial.png) no-repeat center top; }
body.pg-casal{ background:$Turquesa url(../img/bkg-casal.png) no-repeat center top; }
body.pg-confirmacao{ background:$Turquesa url(../img/bkg-confirmacao.png) no-repeat center top; }
@include selection($Turquesa,#FFF);

#btn-menu{
    display:none;
    width:30px;
    height:30px;
    position:fixed;
    top:35px;
    right:35px;
    & span,
    &:before,
    &:after{
        content:" ";
        display:block;
        width:30px;
        height:2px;
        background-color:$Turquesa;
        @include transform(rotate(0));
        position:absolute;
        left:0;
        @include transition(all 300ms ease-in-out);
    }
        
    &:before{ top:0px; }
    & span{ top:14px; @include opacity(1); }
    &:after{ bottom:0; }
        
    &.active span{ @include opacity(0); top:14px; @include transform(rotate(90deg)); }
    &.active:before{ width:34px; top:14px; left:-2px; @include transform(rotate(45deg)); }
    &.active:after{ width:34px; bottom:14px; left:-2px; @include transform(rotate(-45deg)); } 
}

// HEADER
#header{ width:100%; min-height:100px; background-color:#FFF; }
#logo{ display:block; float:left; width:162px; height:60px; margin:20px 0; background:url(../img/logo.png) no-repeat center center; @include removeText; }
#menu{ float:right; }
#menu a{ display:block; float:left; height:100px; line-height:100px; text-transform:uppercase; @include font-size(16px); padding:0 20px; position:relative; @include transition(all 300ms ease-in-out); }
#menu a.active,
#menu a:hover{ color:$Turquesa; }
#menu a:after{ content:' '; display:block; width:100%; height:0; background-color:$Turquesa; position:absolute; bottom:0; left:0; @include transition(all 300ms ease-in-out); }
#menu a.active:after,
#menu a:hover:after{ height:10px; }

// FRASE
#frase{ max-width:960px; width:96%; margin:390px auto 0; }
#frase p{ font-family:$Playfair; text-align:center; font-style:italic; @include font-size(44px); line-height:62px; }

// O CASAL
#o-casal{ margin-top:340px; }
#o-casal h2{ font-family:$Playfair; @include font-size(30px); }
#o-casal p{ line-height:28px; text-align:justify; margin-top:40px; }
#o-casal .pamela,
#o-casal .ricardo{ width:48.2%; float:left; }
#o-casal .ricardo{ margin-left:3.6%; }

// PADRINHOS
#padrinhos{ margin-top:100px; }
#padrinhos li{ margin-bottom:50px; }
#padrinhos li .image{ float:left; width:48%; }
#padrinhos li .image img{ display:block; width:100%; }
#padrinhos li .info{ float:left; width:48%; }
#padrinhos li .info h2{ font-family:$Playfair; @include font-size(30px); margin-top:30px; }
#padrinhos li .info p{ line-height:28px; text-align:justify; margin-top:40px; }
#padrinhos li.p-left .info{ margin-left:4%; }
#padrinhos li.p-right .image{ margin-left:4%; }

// ENDEREÇOS
.endereco{ margin-top:60px; }
.endereco .info{ float:left; width:23%; }
.endereco .info h2{ font-family:$Playfair; @include font-size(30px); margin-top:30px; }
.endereco .info p{ line-height:28px; text-align:justify; margin-top:40px; }
.endereco .info input{ display:block; width:100%; height:40px; border:0; margin:20px 0 0; font-family:$Oxygen; @include font-size(16px); text-align:center; color:$Cinza; }
.endereco .info button{ display:block; width:100%; padding:10px 0; border:0; background-color:$Cinza; text-align:center; color:#FFF; font-family:$Oxygen; @include font-size(16px); text-transform:uppercase; cursor:pointer; @include transition(all 200ms ease-in-out); }
.endereco .info button:hover{ @include opacity(0.8); }
.endereco .info button:active{ @include opacity(0.4); }
.endereco .mapa{ float:left; width:73%; height:360px; background-color:#FFF; }

.endereco.cerimonia .mapa{ margin-left:4%; }
.endereco.recepcao .info{ margin-left:4%; }

// CONFIRMAÇÃO
#confirmacao{ margin-top:270px; }
#confirmacao h2{ font-family:$Playfair; @include font-size(30px); }
#confirmacao p{ line-height:28px; text-align:justify; margin:40px 0 30px; }
#lista-presentes{ float:left; width:25%; }
#pontofrio{ display:block; margin-top:40px; }
#pontofrio img{ display:block; width:100%; }
#form{ float:right; width:50%; }
#form input,
#form textarea{ display:block; float:left; width:100%; padding:10px; border:0; margin:0 0 10px; font-family:$Oxygen; @include font-size(16px); color:$Cinza; }
#form input#email{ width:49%; margin-right:2%; }
#form input#telefone{ width:49%; }
#form textarea{ resize:none; min-height:100px; }
#confirmar{ display:block; float:right; width:49%; padding:10px 0; border:0; background-color:$Cinza; text-align:center; color:#FFF; font-family:$Oxygen; @include font-size(16px); text-transform:uppercase; cursor:pointer; @include transition(all 200ms ease-in-out); }
#confirmar:hover{ @include opacity(0.8); }
#confirmar:active{ @include opacity(0.4); }

#msg{ display:none; border:3px double #FFF; padding:20px; color:#FFF; margin-top:30px; line-height:1.4em; }

// FOOTER
#footer{ padding-bottom:20px; border-bottom:10px solid #FFF; margin-top:100px; }
#footer p{ display:block; float:left; @include font-size(14px); line-height:30px; }
#assinatura{ display:block; float:right; width:56px; height:30px; background:url(../img/ffw.png) no-repeat center center; @include removeText; }

// RESPONSIVO
@media screen and(max-width:1024px){
	#padrinhos li .image{ width:40%; }
	#padrinhos li .info{ width:56%; }
	#padrinhos li .info h2{ margin-top:0; }
}

@media screen and(max-width:860px){
	#btn-menu{ display:block; }
	#menu{ display:none; position:fixed; top:100px; right:0; width:100%; background-color:#FFF; border-top:5px solid $Cinza; }
	#menu a{ width:100%; height:auto; line-height:1.4em; text-align:center; padding:20px 10px; }
	#menu a.active,
	#menu a:hover{ background-color:$Turquesa; color:#FFF; }
	#menu a:after{ display:none; }

	#o-casal{ margin-top:280px; }
	#o-casal .pamela,
	#o-casal .ricardo{ width:100%; margin:60px 0 0; }

	.endereco .info{ width:40%; margin-bottom:30px; }
	.endereco .mapa{ width:100%; }
	.endereco.cerimonia .mapa{ margin-left:0; }
	.endereco.recepcao .info{ margin-left:0; }

	#lista-presentes,
	#form{ width:60%; float:none; margin:0 auto 40px; }
}

@media screen and(max-width:640px){
	#padrinhos li{ padding:20px; }
	#padrinhos li:nth-child(2n){ background-color:#FFF; }
	#padrinhos li .image{ width:100%; margin:30px 0; }
	#padrinhos li .info{ width:100%; }

	#padrinhos li.p-left .info{ margin-left:0; }
	#padrinhos li.p-right .image{ margin-left:0; }

	.endereco .info{ width:100%; }
}

@media screen and(max-width:540px){
	#frase p{ @include font-size(28px); line-height:36px; }

	#lista-presentes,
	#form{ width:80%; }
}

@media screen and(max-width:340px){
	#lista-presentes,
	#form{ width:100%; }
	#form input#email{ width:100%; margin-right:0; }
	#form input#telefone{ width:100%; }
}