.who{
    background-color:$black;
    position:relative;
    z-index:2;

    &.block{
        @media (max-width:$size-desktop-min){
            height:100vh;
            display:flex;
            align-items:center;
            justify-content:center;
        }
    }
    
    &__wrapper{
        width:100%;
        max-width:vw(1400);
        height:100vh;
        margin:0 auto;
        display:flex;
        align-items:center;
        justify-content:space-between;
        padding:vw(100);
        position:relative;
        z-index:2;

        @media (max-width:$size-desktop-min){
            display:block;
            height:auto;
            padding:vw(60) vw(60) vw(120);
        }
    }

    &__greetings{
        text-align: left;
        max-width:vw(740);
        
        &--title{
            font-size:vw(100);
            line-height:1;
            color:$mint;
        }
        
        &--text{
            padding-left:vw(10);
            font-size:vw(26);
            line-height:vw(42);
            color:$mint;
        }

        @media (max-width:$size-desktop-min){
            margin:0 0 vw(60);

            &--title{
                font-size:vw(180);
                margin-bottom:vw(30);
            }

            &--text{
                font-size:vw(32);
                line-height:vw(48);
            }
        }
    }

    &__face{
        // margin-top:vw(130);
        pointer-events:none;
        position:relative;
        width:vw(400);
        height:vw(400);
        border-radius:50%;
        background-color:$yellow;
        box-shadow: 0 0 vw(15) rgba(0,0,0,.1);
    
        backface-visibility:hidden;
        transform-style:preserve-3d;
        transform:translateZ(0);
        
        &.moving{
            transition:none;
        }
        
        &.paused{
            transition:$slow-transition;
        }

        &:after{
            content:" ";
            position: absolute;
            width: 100%;
            height: vw(10);
            border-radius: 50%;
            left:0;
            bottom:vw(-50);
            box-shadow: 0 vw(30) vw(40) rgba(0,0,0,.1);
        }
    
        &--eye{
            width:vw(40);
            height:vw(90);
            border-radius:50%;
            background-color:$brown;
            transform:translateZ(vw(60));
            box-shadow: 0 0 vw(30) rgba(0,0,0,.1);
        
            position:absolute;
            top:vw(90);
            z-index:2;
            animation:blink 3s infinite linear;
            transition:all 200ms ease-in-out;
        
            &-left{
                left:vw(120);
            }
        
            &-right{
                left:vw(250);
            }
        }
        
        &--mouth{
            width:vw(280);
            height:vw(135);
            background-color:$brown;
            transform:translateZ(vw(40));
            overflow:hidden;
            box-shadow: 0 0 vw(30) rgba(0,0,0,.1);
            
            position:absolute;
            top:vw(210);
            left:vw(60);
            z-index:2;
            border-radius:0 0 vw(140) vw(140);
            
            &:after{
                content:' ';
                display:block;
                width:vw(140);
                height:vw(140);
                border-radius:50%;
                background-color:$red;
                
                position:absolute;
                top:vw(60);
                left:vw(15);
            }
        }

        @media (max-width:$size-desktop-min){
            margin:0 auto;
            
            &:after{
                display:none;
            }
        }
    }

    &__scroll{
        width:vw(24);
        position:absolute;
        left:50%;
        bottom:vw(50);
        transform:translateX(-50%);
        animation:
            // color 20s infinite linear,
            bounce 600ms infinite alternate;

        svg{
            display:block;
            width:100%;
            fill:$cyan;
        }

        @media (max-width:$size-desktop-min){
            display:none;
        }
    }
}

@keyframes bounce{
	from{ transform:translate(-50%,vw(10)); }
	to  { transform:translate(-50%,vw(-10)); }
}

@keyframes blink {
    0%,95%{ height:vw(90); transform:translateZ(vw(60)); }
    96%,100%{ height:0; transform:translateZ(vw(60)) translateY(vw(45)); }
  }
