@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');

* {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
  background: $color-grayscale-1;
  color: $color-grayscale-7;
  font-family: $font-family-primary;
  font-size: 14px;
}