@use "sass:math";

// COLORS
$color-grayscale-1: #161617;
$color-grayscale-2: #38383b;
$color-grayscale-3: #5f5f65;
$color-grayscale-4: #86868f;
$color-grayscale-5: #aaaab5;
$color-grayscale-6: #cacad7;
$color-grayscale-7: #e7e7f4;
$black: #282828;

// FONT
$font-family-primary: 'Archivo', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;

// UNITS
@function hu($quantity) {
  $amount: $quantity * 16.66;

  @return $amount * 1vw;
}

@function vu($quantity) {
  $amount: $quantity * 25;

  @return $amount * 1vh;
}

// SCREENS
$size-notebook: 1440px;
$size-tube: 1024px;
$size-mobile: 640px;

// FUNCTIONS
@function font-size($pixel) {
  $rem: math.div($pixel, 16);
  @return $rem * 1rem; 
}

@function letter-spacing($value) {
  $em: math.div($value, 1000);
  @return $em * 1em;
}

@function vw($pixel, $screen: 'desktop') {
  $base: 1920;

  @if ($screen == 'notebook') {
    $base: 1280;
  }

  @if ($screen == 'mobile') {
    $base: 411;
  }

  $vw: math.div($pixel * 100, $base);
  @return $vw * 1vw;
}
