// Colors
$black:#000;
$gray:#555;
$silver:#F2F5F9;
$white:#FFF;

$aqua:#e8f8ff;
$cyan:#19b6ff;
$royal:#134d9c;
$ocean:#114085;

$green:#29ffA7;
$red:#ff7b74;

// Helpers
$default-transition:all 400ms ease-in-out;

// Fonts
$default-font:'Encode Sans', Helvetica, Arial, sans-serif;

$light:300;
$regular:500;
$medium:500;
$bold:bold;

// Screen sizes
$size-notebook:1440px;
$size-tablet:1024px;
$size-mobile:768px;
