.footer{
    width:96vw;
    height:30vh;
    margin:0 2vw 2vw;
    background-color:$mint;
    display:flex;
    flex-flow:column;
    align-items:center;
    justify-content:center;
    position:fixed;
    bottom:0;
    left:0;
    z-index:1;

    &__greeting{
        font-size:vw(80);
        margin-bottom:vw(30);
    }
}