.header{
    position:fixed;
    z-index:3;
    top:0;
    left:0;
    width:100%;

    @media (max-width:$size-desktop-min){
        position:static;
        background-color:$mint;
    }

    &__container{
        width:vw($size-desktop-full);
        margin:0 auto;
        padding:vw(50) vw(100) 0;
        display:flex;
        align-items:center;
        justify-content:space-between;

        transition:$fast-transition;

        @media (max-width:$size-desktop-min){
            width:100%;
            margin:0;
            padding:vw(60) vw(60) 0;
            display:block;
        }
    }

    &.scrolled{
        .header__container{
            padding:vw(20) vw(100) 0;
        }
        
        .header__logo{
            width:vw(70);
        }
    }

    &__logo{
        width:vw(100);
        transition:$fast-transition;

        @media (max-width:$size-desktop-min){
            width:vw(140);
        }

        svg{
            display:block;
            width:100%;
            fill:$cyan;
        }

        span{
            display:none;
        }
    }

    &__nav{
        text-align:right;
        
        @media (max-width:$size-desktop-min){
            display:none;    
        }

        &--item{
            display:inline-block;
            margin-left:vw(120);

            &.active{
                font-weight:$bold;
                color:$cyan;
            }
        }
    }
}