@import "compass";
@import "tools.scss";
@import url(../font/geared.css);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

// VARIÁVEIS
$verde:#8BC441;
$verde-escuro:#509622;
$Raleway:'Raleway', Helvetica, Arial, Sans-serif;
$Geared:'Geared', Helvetica, Arial, Sans-serif;

// CONTEÚDO
#container{ margin-top:140px; }

#destaque{ padding:50px 0; background-color:#333; @include font-smoothing(on); }

.col-text{ width:310px; }
.col-text  h2{ font-family:$Geared; @include font-size(22px); text-transform:uppercase; letter-spacing:0.09em; color:#FFF; }
.col-text.f-right h2{ color:$verde; }
.col-text p{ margin-top:25px; line-height:1.5em; color:#FFF; }
.col-text a.btn{ display:block; width:310px; height:36px; margin-top:30px; text-align:center; line-height:36px; color:#333; letter-spacing:0.14em; @include box-shadow(0 2px 4px rgba(0,0,0,.3)); @include font-size(12px); }
.col-text a.btn.btn-verde{ background:transparent url(../img/btn-verde.jpg) no-repeat center center; }

.col-image{ width:630px; }
.col-image img{ display:block; width:630px; }

// NAVEGAÇÃO
#categorias{ width:210px; float:left; padding-top:40px; }
#categorias h2{ font-family:$Geared; @include font-size(24px); text-transform:uppercase; color:#000; letter-spacing:0.11em; margin-bottom:15px; }
#categorias h3{ font-family:$Geared; @include font-size(18px); text-transform:uppercase; letter-spacing:0.11em; color:#666; margin-bottom:5px; }
#categorias ul{ margin-bottom:20px; }
#categorias ul li{ margin-bottom:3px; }
#categorias ul li a{ @include font-size(12px); font-weight:$bold; color:#666; }
#categorias ul li a.active{ color:#000; }

// PRODUTOS
#produtos{ width:730px; float:right; background-image:url(../img/bkg-servicos.png); padding:40px 0 100px; }
#lista-produtos{ padding:0 5px; }
#lista-produtos li{ width:220px; float:left; margin:0 10px 20px; }
#lista-produtos li a{ display:block; }
#lista-produtos li a img{ display:block; margin:0; }
#lista-produtos li a article{ width:220px; height:46px; text-align:center; color:#FFF; background:#666 url(../img/bkg-produto.jpg) no-repeat center top; padding:10px 0; line-height:1.3em; @include font-smoothing(on); @include box-shadow(0 2px 2px rgba(0,0,0,.3)); }
#lista-produtos li a article h3{ font-weight:$bold; }
#lista-produtos li a article p{ text-transform:uppercase; }