.how{
    // padding-top:13vh;
    background-color:$white;
    position:relative;
    z-index:2;
    
    @media (max-width:$size-desktop-min){
        padding:vw(120) vw(60);
        margin:0;
    }
    
    &__wrapper{
        width:100%;
        max-width:vw(1400);
        height:100vh;
        margin:0 auto;
        padding:0 vw(100);
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        justify-content:space-evenly;
        position:relative;
        z-index:2;

        @media (max-width:$size-desktop-min){
            height:auto;
            padding:0;
            display:block;
        }
    }

    &__text{
        max-width:vw(700);
        margin-left:vw(70);
        font-size:vw(26);
        line-height:vw(42);

        @media (max-width:$size-desktop-min){
            font-size:vw(32);
            line-height:vw(48);
            margin-bottom:vw(50);
        }
    }

    &__link{
        font-weight:$bold;
        color:$cyan;
    }

    &__copy{
        margin-left:vw(70);
        font-size:vw(16);

        @media (max-width:$size-desktop-min){
            font-size:vw(22);
        }
    }
}