.what{
    padding-top:13vh;
    background-color:$white;
    position:relative;
    z-index:2;
    
    @media (max-width:$size-desktop-min){
        padding:vw(120) vw(60);
    }
    
    &__wrapper{
        width:100%;
        max-width:vw(1400);
        height:87vh;
        margin:0 auto;
        padding:0 vw(100);
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        justify-content:space-evenly;
        position:relative;
        z-index:2;

        @media (max-width:$size-desktop-min){
            height:auto;
            padding:0;
            display:block;
        }
    }

    &__services{
        width:100%;
        display:flex;
        align-items:flex-start;
        justify-content:space-between;

        @media (max-width:$size-desktop-min){
            display:block;
        }
    }

    &__service{
        width:vw(360);

        &--icon{
            margin-bottom:vw(20);
            font-size:vw(50);
        }

        &--title{
            font-size:vw(30);
            margin-bottom:vw(20);
            font-weight:$bold;
        }

        &--text{
            line-height:vw(32);
        }

        @media (max-width:$size-desktop-min){
            width:100%;
            margin-bottom:vw(60);

            &--icon{
                font-size:vw(80);
            }

            &--title{
                font-size:vw(50);
            }

            &--text{
                font-size:vw(30);
                line-height:1.7;
            }
        }
    }
}