.whom{
    // padding-top:13vh;
    background-color:$white;
    position:relative;
    z-index:2;
    
    @media (max-width:$size-desktop-min){
        padding:vw(120) vw(60);
    }
    
    &__wrapper{
        width:100%;
        max-width:vw(1400);
        min-height:100vh;
        margin:0 auto;
        padding:0 vw(100);
        display:flex;
        flex-direction:column;
        align-items:flex-end;
        justify-content:space-evenly;
        text-align:right;
        position:relative;
        z-index:2;

        @media (max-width:$size-desktop-min){
            height:auto;
            padding:0;
            display:block;
            text-align:left;
        }
    }

    &__title{
        margin-bottom:vw(80);
    }

    &__list{
        display:flex;
        flex-flow:wrap;
        align-items:center;
        justify-content:space-evenly;
    }

    &__item{
        width:20%;
        text-align:center;
        margin-bottom:vw(40);

        &--link{
            filter:grayscale(1);
            transition:$default-transition;

            &:hover{
                filter:grayscale(0);
            }

            img{
                display:inline-block;
                max-width:100%;
            }
        }

        @media (max-width:$size-desktop-min){
            width:30%;
            margin:0 5% vw(60);

            &--link{
                filter:grayscale(0);
            }
        }
    }
}
